* {
    margin: 0;
    padding: 0;

}

body {
    background-color: black;
    height: 100vh;
    width: 100%;
}

#mouse {
color: red;
position: fixed;
}

canvas {
    height: 100%;
    width: 100%;
    background-color: black;
    float: right;
    /* border-left: dashed 2px orange; */
} 

section {
    height: 50vh;
    background-color: grey;
    position: relative;
  
}

section:nth-of-type(2) {
    background-color: black;
}

section h1 {
    position: absolute;
    color: #e72176;
    /* color: grey; */
    font-family: 'Share Tech Mono', monospace;
    font-size: 10vw;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;

}